.difficulty-container {
    max-width: max-content;
    background-color: #FEFEFE;
    color: #000000;
    padding: 24px 2%;
    border: 6px solid #000000;
    border-radius: 16px;
    margin: auto;
}

.difficulty-container > p {
    font-size: 1.6rem;
    margin: 0 0 12px;
    letter-spacing: 2px;
}

.difficulty-buttons + p {
    font-size: 1.4rem;
    margin: 0;
}

.difficulty-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-bottom: 24px;
}

.selected-type-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 2rem;
    letter-spacing: 2px;
    margin: 0;
}

img[src$="type.png"] {
    width: 50px;
    height: 50px;
    margin: 0 16px;
}

.selected-type-container > p {
    font-size: 2rem;
    margin: 4px 0 0;
}