.scoreboard {
    width: fit-content;
    background-color: var(--secondary-color);
    color: #1A1A1A;
    text-align: start;
    font-size: var(--font-size);
    padding: 12px 30px;
    border: 4px solid var(--primary-color);
    border-radius: 12px;
    margin: -18px auto 18px;
}

.scoreboard p {
    margin: 0;
}

p > span {
    margin-left: 12px;
}

.all-pokemon-cards {
    display: flex;
    flex-wrap: wrap;
    width: clamp(var(--minimum-width), 45vw, 900px);
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0 auto 50px;
}

.all-pokemon-cards.normal {
    width: clamp(var(--minimum-width), 50vw, 1000px);
}

.all-pokemon-cards.hard {
    width: clamp(var(--minimum-width), 85vw, 1600px);
} 

.pokemon-card {
    transform-style: preserve-3d;
    transition: transform 1s;
    cursor: pointer;
}

.pokemon-card.flipped {
    transform: rotateY(180deg);
}

.front-card {
    position: absolute;
    transition: transform 0.2s cubic-bezier(0.65, 0.05, 0.36, 1);
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.front-card:hover {
    transform: scale(1.075);
}

.front-card > img {
    border-radius: 10px;
}

.back-card {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

@media (max-width: 500px) {
    .all-pokemon-cards, 
    .all-pokemon-cards.normal, 
    .all-pokemon-cards.hard { 
        max-width: 375px; 
    }
    .front-card > img, .back-card > img {
        width: calc(var(--minimum-width) - 370px);
    }
}