.loading { display: none; }

.loading.overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.loading > img {
    margin-bottom: 32px;
    filter: invert(54%) sepia(92%) saturate(885%) hue-rotate(344deg) brightness(97%) contrast(91%);;
    -webkit-filter: invert(54%) sepia(92%) saturate(885%) hue-rotate(344deg) brightness(97%) contrast(91%);
    animation: 2.8s ease-in-out 0s infinite spin;
}

.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 0 3px;
    animation: loading 1s ease-in-out infinite;
}

.dot:nth-child(1) { animation-delay: 0s; margin-left: 6px;}
.dot:nth-child(2) { animation-delay: 0.2s; }
.dot:nth-child(3) { animation-delay: 0.4s; }

@keyframes loading {
    0% { 
        opacity: 0; 
        transform: translateY(-12px);
    }
    50% { 
        opacity: 1; 
        transform: translateY(0);
    }
    100% { 
        opacity: 0; 
        transform: translateY(-12px);
    }
}

@keyframes spin {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}