.difficulty-container {
    max-width: max-content;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 24px 2%;
    border: 6px solid var(--primary-color);
    border-radius: 16px;
    margin: auto;
}

.difficulty-container > p {
    font-size: calc(var(--font-size) + 0.1rem);
    margin: 0 0 12px;
    letter-spacing: 2px;
}

.difficulty-buttons + p {
    font-size: calc(var(--font-size) - 0.1rem);
    margin: 0;
}

.difficulty-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-bottom: 24px;
}

.selected-type-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: calc(var(--font-size) + 0.5rem);
    letter-spacing: 2px;
    margin: 0;
}

img[src$="type.png"] {
    width: 50px;
    height: 50px;
    margin: 0 16px;
}

.selected-type-container > p {
    font-size: calc(var(--font-size) + 0.5rem);
    margin: 4px 0 0;
}

.pokemon-types {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    width: clamp(calc(var(--minimum-width) - 160px), 60%, 800px);
    padding: 24px 0;
    border: 6px solid var(--primary-color);
    border-radius: 16px;
    margin: 16px auto 12px;
}

.pokemon-types > p {
    margin: 0;
    font-size: calc(var(--font-size) + 0.1rem);
    letter-spacing: 1.2px;
}

.all-type-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
    width: 90%;
    margin: 8px auto 0;
}

.type-button {
    width: calc(var(--minimum-width) - 350px);
    font-size: calc(var(--font-size) - 0.1rem);
    text-transform: uppercase;
    letter-spacing: 1.5px;
    padding: 12px;
}

.type-button > img {
    display: block;
    width: 40px;
    height: auto;
    margin: 0 auto 10px;
}