.scoreboard {
    width: fit-content;
    background-color: #FEFEFE;
    color: #1A1A1A;
    text-align: start;
    font-size: 1.5rem;
    padding: 12px 30px;
    border: 4px solid #000000;
    border-radius: 12px;
    margin: -18px auto 18px;
}

.scoreboard p {
    margin: 0;
}

p > span {
    margin-left: 12px;
}