#root {
  margin: 0;
  padding: 2rem 0 0;
  text-align: center;
}

img {
  width: 150px;
}

.github-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  font-size: calc(var(--font-size) - 0.4rem);
  letter-spacing: 1.2px;
  margin: 40px 0 0;
}

.fa-github {
  color: var(--secondary-color);
  font-size: 24px;
  transition: all 0.2s ease-in-out;
}

.fa-github:hover {
  color: #EE8328;
  transform: scale(1.2);
}